<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="logo">
      <img src="assets/logo/logo.png">
      <hr>
    </div>

    <div class="list">
      <a class="list-item" routerLink="/home" routerLinkActive="active">Dashboard</a>
      <a class="list-item">Customers</a>
      <a class="list-item">Vendors</a>
      <a class="list-item">Employees</a>
      <a class="list-item">Inventory Module</a>
      <a class="list-item">Orders</a>
      <a class="list-item">Reports</a>
      <a class="list-item">Apps</a>
      <a class="list-item">AI Insight</a>
      <a class="list-item">Settings</a>
    </div>
  </mat-drawer>
  <div class="header">
    <span class="material-icons" (click)="drawer.toggle()">
      dehaze
    </span>

    <app-header></app-header>
  </div>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</mat-drawer-container>
